@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: smaller;
	font-style: italic;
	margin: 1em;
}

figure.full-page{
	break-after: page;
	break-before: page;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}

@supports(display: grid){
	figure.full-page{
		display: grid;
		grid-template-rows: 1fr auto;
		max-height: 100%;
	}
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:letter"] header p:first-child{
	font-variant: small-caps;
}

[epub|type~="z3998:letter"] header [epub|type~="se:letter.dateline"] + p{
	margin-bottom: 1em;
	text-align: initial;
}

section > header{
	font-variant: small-caps;
	margin: 3em 0 1em 0;
}

#introduction blockquote header{
	font-variant: small-caps;
	margin-bottom: 1em;
	text-align: center;
}

#introduction blockquote header p + p{
	text-align: right;
}

#introduction blockquote header time{
	font-variant: normal;
}

#introduction blockquote:first-of-type > header p + p{
	text-align: initial;
	text-indent: 0;
}

#introduction blockquote:first-of-type > header p:first-of-type + p{
	font-style: italic;
	font-variant: normal;
}

#chapter-18 > blockquote:last-of-type header{
	font-variant: small-caps;
	margin-bottom: 1em;
}

#chapter-18 > blockquote:last-of-type blockquote{
	font-variant: small-caps;
}
